@charset "UTF-8";


@font-face {
    font-family: 'nixi';
    src: url('fontes/NixieOne.ttf') format('truetype');
    
}


h1 {
    font-family: 'nixi', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: #027373;
    
}

h2 {
    font-family: 'nixi';
}

h3 {
    font-family: 'nixi';
}



footer {
    padding: ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 10px;
    min-width: 100px;
    max-width:100px ;
    margin-top: 10px;
    display: inline;
}